<% provide :title, t(".help_title") %>
<h1><%= t ".help_title" %></h1>
<p>
  <%= t ".get_help_tutorial" %>
  <%= link_to t(".tutorial_help_page"), Settings.tutorial.rails_tutorial_help_page %>
  <%= t ".get_help_sample_app" %>
  <%= link_to t(".tutorial_book"), Settings.tutorial.ruby_on_rails_utorial_book %>
</p>
